/Berezianskii_Lev_dz_3/.idea/
/Berezianskii_Lev_dz_4/.idea/
/Berezianskii_Lev_dz_5/.idea/
/Berezianskii_Lev_dz_6/.idea/
/Berezianskii_Lev_dz_7/.idea/
/Berezianskii_Lev_dz_8/.idea/
some_file.txt
/.idea/